.home_wrapper {

	.hero {
		background: url('../img/header-image.png');
		background-size: cover;
		background-position: center -160px;
		color: $white;
		height: 500px;
		padding-top: 150px;
		position: relative;
		text-align: center;
		width: 100%;

		@media only screen and (max-width: $md-breakpoint) {
			padding-top: 120px;
			background-position: center -80px;
		}

		@media only screen and (max-width: $lg-breakpoint) {
			background-position: center -60px;
		}

		.hero-text {
			p {
				color: $white;
				font-size: 3.3em;
				line-height: 1em;
				margin: 0;

				span {
					font-weight: 800;
				}
			}
		}

		.btn {
			margin-top: 50px;
		}

		.support-text {
			align-items: center;
			background: rgba(0, 0, 0, .5);
			bottom: 0;
			display: flex;
			font-weight: 700;
			height: 80px;
			justify-content: center;
			letter-spacing: 1px;
			position: absolute;
			width: 100%;

			span {
				border-right: 1px solid $brandPrimary;
				margin-right: 10px;
				padding-right: 10px;
			}

			.btn {
				margin: 0 0 0 10px;
			}
		}
	}

	.sponsors {
		background: $sponsorBg;
		color: $textColor;
		padding: 30px 0;

		.container {
			position: relative;
			text-align: center;

			&:before {
				content: '';
				display: block;
				margin-top: 15px;
				background: $textColor;
				position: absolute;
				margin: 7px auto;
				height: 1px;
				width: 100%;
				z-index: 0;
			}
		}

		.title {
			background: $sponsorBg;
			display: inline-block;
			font-weight: 600;
			padding: 0 10px;
			position: relative;
			z-index: 2;

		}

		.logos {
			display: flex;

			p {
				display: flex;
				justify-content: space-between;
				align-items: center;

				picture {
					margin: 0 15px;
				}
			}
		}
	}

	.mission-statement,
	.board-of-directors {

		.container {
			display: flex;

			@include flex-col-layout;

			>div {
				width: 50%;
				padding: 30px;

				@include mobile-full-width;
			}
		}
	}

	.board-of-directors {
		background: url('../img/directors-bg.png');
		outline: 5px solid $brandPrimary;
  		outline-offset: 5px;

  		h1 {
  			color: $white;
  			margin-top: 10px;
  		}

  		ul {
  			color: $white;
  			column-count: 3;

  			li {
  				margin-bottom: 8px;
  			}
  		}
	}

	.upcoming-events {

		h1 {
			margin-bottom: 40px;
		}

		.fa-calendar-alt {
			margin-right: 10px;
		}

		.link-wrapper {
			color: $brandPrimary;
			display: block;
			margin: 30px auto;
			text-align: center;

			a {
				display: inline-block;
				margin: 0 auto;
			}
		}

		.ccm-block-page-list-wrapper {

			.ccm-block-page-list-pages {
				align-items: center;
				display: flex;
				justify-content: space-between;

				.ccm-block-page-list-page-entry-horizontal {
					width: 45%;
				}

				.ccm-block-page-list-page-entry-text {
					padding-top: 10px;
				}

				.ccm-block-page-list-title {

					a {
						color: $black;
						text-transform: uppercase;
					}
				}

				.ccm-block-page-list-description {
					color: $textColor;
					line-height: 20px;
					margin-top: 10px;
				}
			}
		}
	}
}