.home_wrapper {

		h1 {
			margin: 40px 0;
		}

	.sponsors {
		//background: $sponsorBg;
		color: $textColor;
		padding: 30px 0;

		.container {
			position: relative;
			text-align: center;

			&:before {
				content: '';
				display: block;
				margin-top: 15px;
				background: $textColor;
				position: absolute;
				margin: 7px auto;
				height: 1px;
				width: 90%;
				z-index: 0;
			}
		}

		.title {
			background: white;
			display: inline-block;
			font-weight: 600;
			margin-bottom: 40px;
			padding: 0 10px;
			position: relative;
			z-index: 2;

		}

	.logos {

        .slick-list {

            .slick-track {
                display: flex;
                align-items: center;

                >div {
                    display: flex;
                    justify-content: center;
                }
            }
        }

        .slick-prev {
        	color: $sponsorBg;

            &:before {
                content: "";
                display: block;
                border: solid gray;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(135deg);
            }
        }

        .slick-next {
        	color: $sponsorBg;
        	
        	@media only screen and (min-width: $lg-breakpoint) {
			    right: -50px;
			}

            &:before {
                content: "";
                display: block;
                border: solid gray;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(-45deg);
            }
        }
    }
	}

	.mission-statement,
	.board-of-directors {

		.container {
			display: flex;

			@include flex-col-layout;

			>div {
				width: 50%;
				padding: 30px;

				@include mobile-full-width;
			}
		}
	}

	.board-of-directors {
		background: url('../img/directors-bg.jpg');
		outline: 5px solid $brandPrimary;
  		outline-offset: 5px;

  		a {
  			color: $white;
  			text-decoration: none;

  			&:hover {
  				text-decoration: underline;
  			}
  		}

  		p {
  			color: $white;
  			font-size: 1.2em;
  			margin: 3px auto;
  		}

  		h2 {
  			color: $white;
  			margin-top: 10px;
  		}

  		ul {
  			color: $white;
  			column-count: 3;
  			list-style-type: none;
  			padding-left: 0;

  			@media only screen and (max-width: $md-breakpoint) {
			    column-count: 1;
			}

  			li {
  				margin-bottom: 8px;
  			}
  		}
	}

	.upcoming-events {
		padding: $homepage-section-padding;

		.event-photos {
			display flex;
			justify-content: space-between;
		}

		.link-wrapper {
		 	margin-top: 40px;
		 }

		.fa-calendar-alt {
			margin-right: 10px;
		}

		.list-wrapper {
			line-height: $event-text-line-height;

		 .list {
		 	display: flex;
		 	//flex-wrap: wrap;
		 	justify-content: space-between;

		 	@include flex-col-layout();

		 	.entry {
		 		display: flex;
		 		justify-content: space-between;
		 		margin-top: 30px;

		 		.ccm-block-page-list-page-entry-thumbnail {
		 			margin-right: 20px;
		 		}

		 		.ccm-block-page-list-page-entry-text {
		 			padding: 0 20px;
		 		}
		 	}
		 }
		}

	}

	.social {
		background: #f2f1f1;
		padding: $homepage-section-padding;

		.container {
			@include flex-col-layout();

			align-items: center;
			display: flex;
			justify-content: space-between;

			img {
				width: 400px;
			}
		}

		@media only screen and (max-width: $md-breakpoint) {
			padding: 40px 0px;
		}

		h2 {
			text-align: left;
		}

		a {
			color: $white;
		}
	}
}